body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('27.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(33, 150, 243, 0.7);
    color: rgb(19, 165, 155);
}

header {
    background-color: rgba(209, 127, 26, 0.145); /* Slightly darker blue */
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

 h2 {
    color:brown;
}

h1 {
    color:#fff
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

img {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 20px;
    height: auto;
}

.schedule-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0288d1; /* Slightly darker blue */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.schedule-btn:hover {
    background-color: #01579b; /* Darker blue on hover */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #0288d1; /* Slightly darker blue */
    color: #fff;
}
.nav{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
    background-color: #fff;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav .links a{
    margin-right: 25px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.nav .links .mainlink{
    color: #e0501b;
}

.nav h4{
    font-size: 22px;
    font-weight: bold;
    margin-left: 25px;
}

@media only screen and (max-width: 600px){

    .nav{
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        height: auto;
        overflow-y: hidden;
    }
    
    .nav h4{
        font-size: 6vw;
        margin-top: 10px;
        margin-bottom: 14px;
    }
    
    .nav .links a{
        margin-right: 25px;
        font-size: 12px;
        font-weight: 600;
    }
}